extends ../layout

block content
  form(method="post" action="/users/")
    fieldset
      legend User
      input(type="hidden", name="id", value=user.id)
      p
        label(for="user[name]") Name:
          input(type="text", name="name", value=user.name)
      p
        label(for="user[username]") Username:
          input(type="text", name="username", value=user.username)
      p
        label(for="user[email]") Email:
          input(type="text", name="email", value=user.email)
      button(type="submit") Save
